python-dotenv
requests>=2.32.0
pydantic
flask
pandas
rich
mcp
librosa
moondream
langchain-huggingface
langchain-community
langchain-groq
chromadb
sentence-transformers
fastapi
uvicorn
langchain
langchain-community
langchain-huggingface
chromadb
sentence-transformers
langchain-groq
fastapi
uvicorn
langchain_chroma
